@font-face {
    font-family: "AleoBold";
    src: url("../assets/fonts/Aleo-Bold.otf");
}
@font-face {
    font-family: "AleoReg";
    src: url("../assets/fonts/Aleo-Regular.otf");
}

@font-face {
font-family: "AleoLight";
src: url("../assets/fonts/Aleo-Light.otf");
}

@font-face {
    font-family: "AleoLightItalic";
    src: url("../assets/fonts/Aleo-LightItalic.otf");
    }
    
body
{
    color:#455A64   ; 
    font-family: AleoLight;
}

h4
{
    font-family: AleoBold;
}

h5
{
    font-family: AleoReg;
}

input 
{
    width:90%;
}

.popup
{
    position: absolute; 
    top: 0px;
    left: 0px; 
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(176, 190, 197, 0.5);
}



.popup-content
{
    display: table;
    margin:auto;    
    width:40%;
    min-width: 300px;
    padding-top: 2%;
    background-color: #ECEFF1;    
}

.popup-content > div:first-child
{
    padding-left: 50px;
    margin-bottom: 5%;
}

.address-buttons
{
   
    background-color: #304FFE;
}

.popup-button
{
    position: relative;
    text-align: center;
    font-family: AleoBold;
    text-decoration: none;
    color: white;
    background-color: #304FFE;    
    -webkit-box-shadow: 0px -4px 3px rgba(176, 190, 197, 0.75);
    -moz-box-shadow:    0px -4px 3px rgba(176, 190, 197, 0.75);
    box-shadow:         0px -4px 3px rgba(176, 190, 197, 0.75);
}

.popup-button:active
{
    background-color: #00E5FF;    
}


#side-button
{
    position: absolute;
    top:40%;
    right: 5px;
    z-index: 50;
    color: white;
    border-radius: 1000px;
    height:80px;
    width:80px;
    text-align: center;
    background-image: url(../assets/pics/info.png);
    background-repeat: no-repeat;
}

#side-display
{
    
    position: absolute;
    z-index: 51;
    top:0px;
    padding-left: 5px;
    background-color: #FAFAFA ;
    height: 100%;
    width:20%;
}

#side-display p
{
    margin-left: 10px;
}

#comments
{
    margin-top: 40px;
    font-family: AleoLightItalic;
}

#close-side-display
{
    position: absolute;
    bottom:5px;
    left:100px;
}

#notif
{    
    transform: scale(0);
    z-index: 52;
    left:50%;
    position: absolute;
    top:30%;    
    background-color: #304FFE;    
    text-align: center;
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    color: white ;
}

#change-address-btn
{
    position: absolute;
    z-index: 30;
    background-color: #304FFE;
    color: white;
    left: 2px;
    top:15%;
    border:none;
    font-size: 1.2rem;
    padding-top: 8px;
    padding-bottom: 8px;  
    font-family:  AleoReg; 
}

#change-address-btn:active
{
    background-color: white;
    color: #304FFE
}

